*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

#nav1{
    height:15vh;
    background-color: #FF5200 !important;
}
#logo-header{
    color:white !important;
    font-size: 5vh;
    font-weight: 900;

}